################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Asp.Net.Core.App/AspNet.Core.Web.App/packages
