################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Asp.Net.Core.App/AspNet.Core.Web.App/packages
/Asp.Net.Core.App/AspNet.Core.Web.App/src/BusinessLayer/AspNet.Core.Web.App.Bl.Implementation/bin/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/src/BusinessLayer/AspNet.Core.Web.App.Bl.Implementation/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/.vs/AspNet.Core.Web.App/v14
/Asp.Net.Core.App/AspNet.Core.Web.App/.vs
*.user
*.dll
*.pdb
*.IncrementalCache
*.SDKVersion
*.rsp
/Asp.Net.Core.App/AspNet.Core.Web.App/src/BusinessLayer/AspNet.Core.Web.App.Bl.Interface/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Client/MvcApp.Client/bin
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Client/MvcApp.Client/obj/Debug
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Domains/AspNet.Core.Web.Domains/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/src/RepositoryLayer/AspNet.Core.Web.App.Repo.Implementation/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/src/RepositoryLayer/AspNet.Core.Web.App.Repo.Implementation/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/src/RepositoryLayer/AspNet.Core.Web.App.Repo.Interface/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/src/RepositoryLayer/AspNet.Core.Web.App.Repo.Interface/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Service/AspNet.Core.Web.App/.vs/AspNet.Core.Web.App/v14
*.exe
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Service/AspNet.Core.Web.App/bin/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Service/AspNet.Core.Web.App/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Service/AspNet.Core.Web.App/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/test/TestData/AspNet.Core.TestData/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/test/TestData/AspNet.Core.TestData/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/test/UnitTest/BusinessLayer/AspNet.Core.Web.App.Bl.Implementation.UnitTest/bin/Debug/net461/win7-x64
/Asp.Net.Core.App/AspNet.Core.Web.App/test/UnitTest/BusinessLayer/AspNet.Core.Web.App.Bl.Implementation.UnitTest/obj/Debug/net461
/Asp.Net.Core.App/AspNet.Core.Web.App/test/UnitTest/BusinessLayer/AspNet.Core.Web.App.Bl.Implementation.UnitTest/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/test/UnitTest/Service/AspNet.Core.Web.App.Test/bin/Debug/net461/win7-x64
/Asp.Net.Core.App/AspNet.Core.Web.App/test/UnitTest/Service/AspNet.Core.Web.App.Test/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/AspNet.Core.Web.App.suo
/Asp.Net.Core.App/AspNet.Core.Web.App/src/Domains/AspNet.Core.Web.Domains/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/src/BusinessLayer/AspNet.Core.Web.App.Bl.Implementation/project.lock.json
/Asp.Net.Core.App/AspNet.Core.Web.App/src/BusinessLayer/AspNet.Core.Web.App.Bl.Interface/project.lock.json
